<div class="row">
    <div class="col-sm-3" style="background-color: black;">
        <ul class="nav flex-column p-2">
            <li class="nav-item border-bottom">
                <a routerLink='posts' class="nav-link text-light active">Posts</a>
            </li>
            <li class="nav-item border-bottom">
                <a routerLink='albums' class="nav-link text-light">Albums</a>
            </li>
            <li class="nav-item border-bottom">
                <a routerLink='photos' class="nav-link text-light">Photos</a>
            </li>
            <li class="nav-item border-bottom">
                <a routerLink='users' class="nav-link text-light">Users</a>
            </li>
            <li class="nav-item border-bottom">
                <a routerLink='todos' class="nav-link text-light">Todos</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <router-outlet></router-outlet>
    </div>
</div>